.cardListContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cardListTitle {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  gap: 15px;
}
